body {
    background-color: #d2dcec;
}


.box {

    margin: 5px;
    padding: 5px;
    background-color: #bccbe5;
    border-radius: 5px;
}

img {
    width: 100px;
    height: 100px;
}

.error {
    color: red;
    font-size: 10px;
    margin-bottom: 5px;
}

h1 {
    color: #3367bd;
}